:root{
    --bgc: #1d2630;
}

*{
    overflow: hidden;
}

html, body{
    height: 100%;
    background-color: var(--bgc);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    scroll-behavior: smooth; 
    color: white;
    font-size: 100%;
}

#page1, #page2, #page3, #page4{
    height: 100vh;
    width: 100vw;
}



.AudioDesc{
    padding: 5px;
    text-align: center;
    width: 250px;
    background-color: white;
    color: black;
    position: relative;
    top: 0px;
    left: 0px;
}



h1{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0; animation: opacity 1.5s ease-in-out 1s forwards;
}

.text{
    font-size: 1em;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    text-align: center;
    opacity: 0; animation: opacity 1.5s ease-in-out 3s forwards;
}

#page1 h1{
    font-size: 1.8em;
}


.button_scroll img, .button_scroll2 img{
    width: 70px;
    height: 70px;
}

.button_scroll {
    opacity: 0;
    animation: opacity 2s ease-in-out 5s forwards;
    position: relative;
    bottom: -10px;
    left: calc(50% - 35px);
    transition: bottom 0.8s;
}

.button_scroll:hover{
    bottom: -40px;
}

audio{
    display: block;
    margin: auto;
    margin-top: 30px;
    opacity: 0; animation: opacity 1.5s ease-in-out 3s forwards;
}
.logo img{
    width: 15%;
    height: 15%;
    margin-top: 30px;
    display: block;
    margin: auto;
    opacity: 0; animation: opacity 1.5s ease-in-out 3s forwards;
}

.button_scroll2 {
    opacity: 0;
    animation: opacity 2s ease-in-out 2s forwards; 
    position: relative;
    top: 20px;
    left: calc(50% - 35px);
    transition: top 0.8s;  
}
.button_scroll2:hover{
    top: 0px;
}

#plan{
    text-align: center;
    margin: auto;
    height: auto;
    margin-top: 50px;
    width: 80%;
    border-style: dotted;
    border-width: 5px;
    border-radius: 30px;
    padding: 2%;
}

@keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}


.button {
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: var(--bgc);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    height: 25px;
    width: 175px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button:hover {
    color: #1d2630;
    background-color: white;
    border-color: white;
    
}

.noms{
    text-align: center;
}




@media only screen and (max-width: 510px){
    .text{
        margin-left: 10%;
        margin-right: 10%;
        font-size: 0.95em;
    }
    .logo{
        display: none;
    }
    #page1 h1{
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.2em;
    }
    #page2 .button_scroll{
        bottom: 0px;
    }
    #page2 .button_scroll2{
        top: 0px;
    }
}