:root {
    --bgc: #1d2630;
}

html, body{
    height: 100%;
    background-color: var(--bgc);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    margin: 0;
    scroll-behavior: smooth; 
}

audio {
    display: block;
    margin: auto;
    opacity: 0; animation: opacity 1.5s ease-in-out 3s forwards;
}

.page1{
    height: 100vh;
}

.important{
    font-weight:bold;
    font-size: 1.5em;
}



@keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
    100%
    {
      
    }
}
@keyframes blinking-cursor {
    from,
    to {
       border-color: transparent
    }
    50% {
      border-color: white;
    }
  }


.AudioDesc {
    color: black;
    font-weight: bolder;
    position: fixed;
    float: left;
    background-color: #f2f3f5;
    padding: 15px;
}
#logo {
    text-align: center;
    margin: auto;
    margin-top: 5%;
    display: flex;
    width: 25%;
    height: 25%;
}

#plan {
    text-align: center;
    display: inline-block;
    margin: auto;
    display: flex;
    height: auto;
    width: 80%;
    border-style: dotted;
    border-width: 5px;
    border-radius: 50px;
}

.init {
    
    display: inline-block;
    text-align: justify;
    font-size: 1em;
    color : white;
    background-color: var(--bgc);
}
img{
    width: 50px;
    height: 50px;
}
.button_scroll{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 45px;
    transition: padding-top 0.8s;
}
.button_scroll2 {
    display: flex;
    justify-content: center;
    margin: auto;
    
    padding-bottom: 0px;
    /*transition: padding-top 0.8s;*/
    transition: padding-bottom 0.8s;
    
}
.button_scroll:hover{
    padding-top: 45px;
}
.button_scroll2:hover {
    /*padding-top: 0px;*/
    padding-bottom: 45px;
}
.button {
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: var(--bgc);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    height: 25px;
    width: 175px;
    margin: auto;
}
.button:hover {
        color: #1d2630;
        background-color: white;
        border-color: white;
    }

@keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
.button_scroll {
    opacity: 0;
    animation: opacity 2s ease-in-out 5s forwards;
}
.button_scroll2 {
    opacity: 0;
    animation: opacity 2s ease-in-out 2s forwards;
}
.page1 p {opacity: 0; animation: opacity 1.5s ease-in-out 3s forwards;}
.important p {opacity: 0; animation: opacity 1.5s ease-in-out 1s forwards;}
/*.init p {opacity: 0; animation: opacity 1.5s ease-in-out 2s forwards;}*/



@media only screen and (min-width: 320px) {
    /* For tablets: */
    .init {padding-top: 3%; margin-top: 40px;}
    .init {padding-left: 5% ;}
    .init {padding-right: 5%;}
    .init {text-align: center;}
    .init {font-size: 0.95em;}
   
    .button_scroll{width: 50px;}
    .button_scroll2 {width: 50px;}
    }  
@media only screen and (min-width: 700px) {
    /* For desktop:*/
    .init {
        padding-top: 0;
    }
    .init {
        padding-left: 20%;
    }
    .init {
        padding-right: 20%;
    }
    .init {
        text-align: justify;
    }
}

#page1 
{
    height: 100vh;
}
#page2
{
    height: 100vh;
}
#page3 
{
    height: 100vh;
}