:root{
    --bgc:#1d2630;
}

html, body{
    height: 100%;
    background-color:var(--bgc);
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    margin: 0;;
    scroll-behavior: smooth; 
}

#transition{
    position: absolute;
    max-width: 100%;
    /*max-height:100%;*/
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
}


.page1 {
    height: 100%;
    background-color: var(--bgc);
    z-index: 1;
}

#page2{
    height: 100%;
    background-color: var(--bgc);
    z-index: 3;
    
}



.init{
    display: inline-block;
    padding-top: 12%;
    padding-left: 20% ;
    padding-right: 20%;
    margin: auto;
    text-align: justify;
    font-size: 15pt;
    height: 100%;
    background-color:var(--bgc);
}

img{
    width: 50px;
    height: 50px;
}

.button_scroll{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 45px;
    padding-top: 20px;
    transition: padding-top 0.8s;
}

.button_scroll:hover{
    padding-top: 45px;
}


@keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
.button_scroll {opacity:0;animation: opacity 2.5s ease-in-out 3s forwards;}
.page1 p {opacity: 0; animation: opacity 1.5s ease-in-out 1s forwards;}

/*@-webkit-keyframes transition1 {
    0% {background-image: url(transition/1.png); background-position: center;}
    5% {background-image: url(transition/2.png); background-position: center;}
    10% {background-image: url(transition/3.png); background-position: center;}
    15% {background-image: url(transition/4.png); background-position: center;}
    20% {background-image: url(transition/5.png); background-position: center;}
    25% {background-image: url(transition/6.png); background-position: center;}
    30% {background-image: url(transition/7.png); background-position: center;}
    35% {background-image: url(transition/8.png); background-position: center;}
    40% {background-image: url(transition/9.png); background-position: center;}
    45% {background-image: url(transition/10.png); background-position: center;}
    50% {background-image: url(transition/11.png); background-position: center;}
    55% {background-image: url(transition/12.png); background-position: center;}
    60% {background-image: url(transition/13.png); background-position: center;}
    65% {background-image: url(transition/14.png); background-position: center;}
    70% {background-image: url(transition/15.png); background-position: center;}
    75% {background-image: url(transition/16.png); background-position: center;}
    80% {background-image: url(transition/17.png); background-position: center;}
    85% {background-image: url(transition/18.png); background-position: center;}
    90% {background-image: url(transition/19.png); background-position: center;}
    95% {background-image: url(transition/20.png); background-position: center;}
    100% {background-image: url(transition/21.png); background-position: center;}
} 

@keyframes transition1 {
    0% {background-image: url(transition/1.png); background-position: center;}
    5% {background-image: url(transition/2.png); background-position: center;}
    10% {background-image: url(transition/3.png); background-position: center;}
    15% {background-image: url(transition/4.png); background-position: center;}
    20% {background-image: url(transition/5.png); background-position: center;}
    25% {background-image: url(transition/6.png); background-position: center;}
    30% {background-image: url(transition/7.png); background-position: center;}
    35% {background-image: url(transition/8.png); background-position: center;}
    40% {background-image: url(transition/9.png); background-position: center;}
    45% {background-image: url(transition/10.png); background-position: center;}
    50% {background-image: url(transition/11.png); background-position: center;}
    55% {background-image: url(transition/12.png); background-position: center;}
    60% {background-image: url(transition/13.png); background-position: center;}
    65% {background-image: url(transition/14.png); background-position: center;}
    70% {background-image: url(transition/15.png); background-position: center;}
    75% {background-image: url(transition/16.png); background-position: center;}
    80% {background-image: url(transition/17.png); background-position: center;}
    85% {background-image: url(transition/18.png); background-position: center;}
    90% {background-image: url(transition/19.png); background-position: center;}
    95% {background-image: url(transition/20.png); background-position: center;}
    100% {background-image: url(transition/21.png); background-position: center;}
}

.page1{background-image: url(transition/22.png); animation: transition1 0.5s; background-position: center;}*/



@media only screen and (min-width: 320px) {
    /* For tablets: */
    .init {padding-top: 5%;}
    .init {padding-left: 5% ;}
    .init {padding-right: 5%;}
    .init {text-align: center;}
    .init{font-size: 13pt;}
    .button_scroll{width: 50px;}
    }
    
  @media only screen and (min-width: 700px) {
    /* For desktop: */
    .init {padding-top: 12%;}
    .init {padding-left: 20% ;}
    .init {padding-right: 20%;}
    .init{text-align: justify;}
}