:root{
    --bgc: #1d2630;
}

html, body{
    height: 100%;
    background-color: var(--bgc);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    scroll-behavior: smooth; 
    color: white;
    font-size: 100%;
}

audio{
    display: block;
    margin: auto;
    opacity: 0; animation: opacity 1.5s ease-in-out 3s forwards;
}

#page1 {
    height: 100vh;
    margin: 5%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas:
        "t o p"
        "n b x"
        "s u v";
    display: grid;
    gap: 30px;
    justify-content: center;
}
#page2 {
    height: 100vh;
    margin: 10px;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas:
        "t o p"
        "n b x"
        "s u v";
    display: grid;
    gap: 30px;
    justify-content: center;
}
#page3 {
    height: 100vh;
    margin: 10px;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas:
        "t o p"
        "n b x"
        "s u v";
    display: grid;
    gap: 30px;
    justify-content: center;
}

#page4 {
    height: 100vh;
    margin: 10px;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas:
        "t o p"
        "n b x"
        "s u v";
    display: grid;
    gap: 30px;
    justify-content: center;
}

.top-left{
    grid-column: 1/3;
    grid-row: 1;
}
.top-middle {
    padding-top: 5%;
    padding-bottom: 5%;
    grid-area: o;
    text-align: center;
}
.middle-top {
    text-align: center;
    grid-area: b;
    margin: auto;
    opacity: 0;
    animation: opacity 1.5s ease-in-out 3s forwards;
}
.middle-down {
    grid-area: e;
    opacity: 0;
    animation: opacity 1.5s ease-in-out 3s forwards;
    text-align: center;
}
.middle-top audio{
    position: static;
}
.down-middle{
    grid-area: u;
    margin:auto;
}
.important{
    font-weight:bold;
    font-size: 1.5em;
}

.AudioDesc{
    color: black;
    font-weight: bolder;
    background-color: #f2f3f5;
    margin:auto;
    margin-left: 25px;
}

#plan{
    text-align: center;
    margin: auto;
    height: auto;
    width: 70%;
    border-style: dotted;
    border-width: 5px;
    border-radius: 50px;
    padding: 2%;
}

img{
    width: 50px;
    height: 50px;
}
.button_scroll {
    grid-area: a;
    transition: padding-top 0.8s;
}
.button_scroll2 {
    transition: padding-bottom 0.8s;
}

.button {
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: var(--bgc);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    height: 25px;
    width: 175px;
    margin-bottom: 5%;
}

.button:hover {
        color: #1d2630;
        background-color: white;
        border-color: white;
    }

@keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
.button_scroll {
    opacity: 0;
    animation: opacity 2s ease-in-out 5s forwards;
}
.button_scroll2 {
    opacity: 0;
    animation: opacity 2s ease-in-out 2s forwards;
}
.page1 p {opacity: 0; animation: opacity 1.5s ease-in-out 3s forwards;}
.important a {opacity: 0; animation: opacity 1.5s ease-in-out 1s forwards;}


@media only screen and (max-width: 740px) {

    html, body {
        height: 100%;
        background-color: var(--bgc);
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        scroll-behavior: smooth;
        color: white;
        font-size: 80%;
    }

    #page2 {
        height: 100vh;
        margin: 10px;
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: 20% 50% 30%;
        grid-template-areas:
            "t o p"
            "n b x"
            "s u v";
        display: grid;
        gap: 30px;
        justify-content: center;
    }
    #page1 {
        height: 100vh;
        margin: 10px;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 10% 25% 35% 30%;
        grid-template-areas:
            "t o p"
            "n b x"
            "w e h"
            "s u v";
        display: grid;
        gap: 30px;
        justify-content: center;
    }

    #page3 {
        height: 100vh;
        margin: 10px;
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: 10% 60% 30%;
        grid-template-areas:
            "t o p"
            "n b x"
            "s u v";
        display: grid;
        gap: 30px;
        justify-content: center;
    }

    #page4 {
        height: 100vh;
        margin: 10px;
        grid-template-columns: 0% 100% 0%;
        grid-template-rows: 10% 60% 30%;
        grid-template-areas:
            "t o p"
            "n b x"
            "s u v";
        display: grid;
        gap: 30px;
        justify-content: center;
    }
}  