*{background-color: black;}

#btnControl {
    display: none;
}

#btnControl:checked + label > img {
    width: 70px;
    height: 74px;
}




.button{
    
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: var(--bgc);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    height: 25x;
    width: 150px;
    transition: padding 0.6s;
    transition: background-color 0.8s;
    transition: color 0.8s; 
  }

.button:hover{
    color: #1d2630;
    background-color: white;
    border-color: white;
  }
  

#demo{
    display: none;
}
  
label {
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: var(--bgc);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    height: 25x;
    width: 150px;
    transition: padding 0.6s;
    transition: background-color 0.8s;
    transition: color 0.8s; }


    label:hover{
        color: #1d2630;
        background-color: white;
        border-color: white;
      }

#demo:checked + label {
    background: blue;
    color: white;
}




.svgspan {
    width:30vw;
    height:30vh;
    }
    #pfad{
      fill: crimson;
      transition: all 1s ease-in-out;
    }
    .st0:hover {
    opacity:1;
    fill: red;
    }