:root {
    --bgc: #1d2630;
    --bgc: #1d2630;
    --afficheur: #c8b89f;
    --gris: #393c47;
    --bomb: #f6d731;
}

body {
    background-color: var(--bgc);
    font-family: 'Courier New', Courier, monospace;
}

#tableau {
    margin: auto;
    max-width: 30%;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    background-color: var(--gris);
    justify-content: center;
}
.scroll {
    padding: 20px;
    margin: auto;
    display: block;
    max-width: 200px;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

input[type="text"] {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

input[type="submit"] {
    margin-top: 2px;
    margin-bottom: 5px;
    background-color: #e9e9ed;
    font-weight: bold;
}

input[type="submit"], input[type="text"] {
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: var(--bgc);
    padding-top: 3px;
    padding-bottom: 3px;
}


.unlock {
    margin: auto;
    margin-top: 20px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    width: 200px;
    height: 110px;
    background-color: var(--gris);
}

#unlock {
    background-color: var(--gris);
    margin: auto;
}