:root{
    --bgc:#1d2630;
    --afficheur:#c8b89f;
    --gris:#393c47; 
}
*{
    font-family: 'Courier New', Courier, monospace;
}

#tableau{
    display: flex;
    flex: right;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    margin: 1%;
    max-width: 96vw;
    min-height: 74vh;
    background-color: var(--gris);
    justify-content: center;
}

.screen{
    display: flex;
    
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    margin: 1% 1%;
    width: 200px;
    height: 110px;
    background-image: url(images/galvanometre1.png);
    background-color: var(--afficheur);
    background-size: cover;
}

.screen img{
    display: flex;

    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    margin: 1% 1%;
    width: 200px;
    height: 110px;
    background-color: var(--afficheur);
}

/*#last_screen{
    margin-right: 0%;
}*/

.light_btn{
    display: flex;
    
    justify-content: center;
    border-style: solid;
    border-color: var(--gris);
    border-width: 5px;
    border-radius: 10px;
    margin: 1% 1%;
    width: 200px;
    height: 110px;
    
}

form{
    display: grid;
    grid-template-rows: auto auto;
    /*border-style: solid;
    border-width: 5px;
    border-radius: 10px;*/
    
    /*width: 220px;
    height: 100px;*/
    background-color: var(--gris);
}


.button{
    grid-row: 2;
    margin: auto; 
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    padding: 5px 2px;
    font-weight: bold;
    color: black;
    font-size: 1em;
    text-align: center;
    background-color: var(--afficheur);
    margin-top: 1%;
    width: 186px;
    height: 37px;
}



.light{
    grid-row: 1;
    margin-left: 0%;
    border-style: solid;
    border-width: 5px;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    margin: auto;
    background-color: white;
}

.light_btn p{
    font-size: 2em;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
}


.btn{
    display: none;
}

#btn1:checked ~ #light1 {
    background-color:red;
}
#btn2:checked ~ #light2 {
    background-color:red; 
}
#btn3:checked ~ #light3 {
    background-color:red; 
}
#btn4:checked ~ #light4 {
    background-color:red; 
}
#btn5:checked ~ #light5 {
    background-color:red; 
}
#btn6:checked ~ #light6 {
    background-color:red; 
}
#btn7:checked ~ #light7 {
    background-color:red; 
}
#btn8:checked ~ #light8 {
    background-color:red; 
}
#btn9:checked ~ #light9 {
    background-color:red; 
}


#trad{
    display: grid;
    /*grid-template-columns: 50% 50%;*/
    border-style: solid;
    margin-bottom: 1%;
    border-width: 5px;
    border-radius: 10px;
    width: 83vw;
    background-color: var(--afficheur);
}

/*.russe{
    grid-column: 1;
}

.french{
    grid-column: 2;
}

.russe2{
    grid-column: 3;
}

.french2{
    grid-column: 4;
}*/


#trad p {
    margin: 1%;
    font-size: 1em;
}

.unlock{
    color:black;
    font-size: 20px ;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: var(--gris);
    border-width: 5px;
    border-radius: 10px;
    margin: 1% 1%;
    width: 200px;
    height: 110px;
    
    background-color: var(--afficheur);
    
}

#unlock{
    background-color: var(--afficheur);
    margin: auto;
}