:root{
    --bgc:#1d2630;
}

body {
    background-color: var(--bgc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: red;
    letter-spacing: .30em;
    /*margin: 0 auto; à choisir si avec ou sans*/
    overflow: hidden;
    white-space: nowrap;
    border-right: .17em solid red;
    animation: typing 2.5s steps(13, end), blinking-cursor .9s step-end infinite;
}

.button{
    
    text-decoration: none;
    padding: 3px 10px 3px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    background-color: var(--bgc);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    height: 25x;
    width: 150px;
    transition: padding 0.6s;
    
  }

.button:hover{
    color: #1d2630;
    background-color: white;
    border-color: #1d2630;
  }

.button:active{
    color: #1d2630;
    background-color: white;
    border-color: #1d2630;
    color:white;
    padding: 500px 890px 300px 890px;
    border-radius: 100px;
}



@keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
    100%
    {
      
    }
  }

  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: white;
    }
  }


  @keyframes transition {
    0%   { opacity:0; }
    100% { opacity:1; }
    }
    .button {opacity:0;animation: transition 2.5s ease-in-out 3s forwards;}


  @keyframes opacity {
    0%   { opacity: 0; }
    100% { opacity: 1; }
    }
    .button { animation: transition 2.5s ease-in-out 3.0s, opacity 2.0s ease-in-out 3.0s forwards; }

    