:root{
    --bgc:#1d2630;
}

body {
    background-color: var(--bgc);
    

}

span {
    width:100%;
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: 'Courier New';
}

iframe{
    margin: auto;
    width: 100%;
    position: static;
}

h1:hover{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: normal;
    content: "affligeant.";
    font-family: 'Courier New';
}

.scroll{
    position: static;
    max-width: 150px;
    height: 70px;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    color: white;
}
